<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.0.2 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <form action="/register" method="post">
        <h1 class="'text-center">Student Registration Form</h1>
        <div class="mb-3">
          <label for="fullname" class="form-label">Full Name</label>
          <input
            required
            name="fullname"
            type="text"
            class="form-control"
            name="fullname"
            id="fullname"
            aria-describedby="helpId"
            placeholder="Enter your full name"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            required
            name="email"
            type="email"
            class="form-control"
            name="email"
            id="email"
            aria-describedby="emailHelpId"
            placeholder="Enter a valid email address"
          />
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Phone</label>
          <input
            required
            name="phone"
            type="number"
            class="form-control"
            name="phone"
            id="phone"
            aria-describedby="helpId"
            placeholder="Enter a valid phone number"
          />
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <input
            required
            name="address"
            type="text"
            class="form-control"
            name="address"
            id="address"
            aria-describedby="helpId"
            placeholder="Enter your address here"
          />
        </div>
        <div class="mb-3">
          <label for="collegename" class="form-label">College Name</label>
          <input
            required
            name="collegename"
            type="text"
            class="form-control"
            name="collegename"
            id="collegename"
            aria-describedby="helpId"
            placeholder="College name"
          />
        </div>
        <div class="mb-3">
          <label for="department" class="form-label">Department</label>
          <input
            required
            name="department"
            type="text"
            class="form-control"
            name="department"
            id="department"
            aria-describedby="helpId"
            placeholder="Department"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
